.conatainer{
    scroll-behavior: auto;
    margin-right: 0px;
    margin-left: 40px;
    border-right: 3px solid skyblue;
}
.currentqurey{
    margin-top: 60px;
    border: 2px solid grey;
    height: 600px;
    width: 600px;
    position: fixed;
    text-align: center;
}

.qureyhead{
    margin-bottom: 0px;
    position: fixed;
}
.left_contianer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
