.register{
    max-width: 978px;
    width: 100vw;
    display:flex;
    /* align-items: center;
    justify-content: center; */
    border: 3px solid #7cacdd;
    border-radius: 5px;
    /* box-shadow: 1px 3px 10px #e9ecef; */
    background-color: rgb(242, 237, 237);
    
  }
  

  /* .flex-col{
    flex-direction: column;
  } */
  
  .register .col-1{
    margin: auto;
    padding: 3em 0;
  }
  
  .register .col-2 img{
    width: 640px;
    height: 100%; 
    object-fit: cover;
    align-self: flex-end;
     border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: none;
  }
  
  @media screen and (min-width: 860px)  {
    .register .col-2 img{
      display: initial;
    }
  }